<body class="profile-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header" >
          <h1 class="profile-header">Welcome to your Snack Profile</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="card" class="profile-card">
            <div class="card-body" class="profile-card-body">
              <p class="card-text" class="profile-card-text">
                <p class="current-user">Hey there, <%= currentUser.dataValues.name %> </p>
                <p>Share your snack wisdom!</p>
                <a class="btn btn-primary" id="add-snack" href="/snack">Add a Snack</a>
              </p>
            </div>
            <div class="card-footer" class="profile-card-footer">
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class ="row" class="card-deck" >
        <% snacks.forEach((snack, idx) => { %>
          <div class="col-md-4" id="wrapper" >
            <div class="card">
              <img class="card-img-top" src="<%= snack.imgUrl  %>" alt = "snack picture" >
            </h5>
            <div class="card-body" >
              <p class="card-text" >
                <p class="profile-snack-header" id="snack-name"> <%= snack.name %></p>
                </p>
              </div>
              <div class="card-footer" >
                <div class = "container-fluid" class="buttonContainer">
                  <a class="btn btn-primary" id="view-snack" href="/detail/ <%= snack.id  %> ">View Snack</a>                </div> 
                <form method="POST" action="/profile/<%= snack.id %>?_method=DELETE%>">
                  <input type="hidden" value="Delete" name="name"> 
                  <button class="btn btn-primary" id= "delete-snack" type="submit">Gross</button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
</body>  
    