<a href="/auth/logout">Logout</a> |
<a href="/profile">Profile</a>
<h2>Snacks</h2>
<h3>Welcome to your Snack Profile</h3>

<p>See Your Snacks (DB pull list goes here)</p>


  <% snacks.forEach((snack) => { %>
      <img height="200px;" width="200px" src="<%=snack.imgUrl%>" alt="snack image">
      <div>
          <h4 id = "snackName"><%= snack.name %></h4>
          <form method="POST" action="/profile/<%= snack.id %>?_method=DELETE%>">
            <p><%=snack.description%></p>
            <input type="hidden" value="Delete" name="name"> 
            <button type="submit">Blechk</button>
            <!-- create a link that will -->
            <a href="/detail/<%=snack.id%>">See Details</a>
          </form>
      <% }); %>
    <a href="/snack"> <p>Add a Snack</p></a>
    

<!-- add a form that will take you to a suggested snack page -->
<a href="#">Select from trending snacks</a>

