<p><a href="/profile">Profile</a></p>
<h1>The Snack Page</h1>
<%= snack.dataValues.name %>
<%= snack.dataValues.description %>   
<img src= "<%= snack.dataValues.imgUrl %>" />



<!-- hidden input to send comment? -->
<form action="/comment/<%= snack.dataValues.id %>" method="POST">
    <div>
    <textarea name="text" id="text">
    Hey... say something!
    </textarea>
    </div>
    <button type="submit">Post Comment</button>
</form>

<%snack.comments.forEach(comment => { %>
    <ul>
        <li><%=comment.text%></li>
    </ul>
<% }) %>