<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> submain
<h1>The Snack Page</h1>
<%= snack.dataValues.name %>
<%= snack.dataValues.description %>   
<img src= "<%= snack.dataValues.imgUrl %>" />



<!-- hidden input to send comment? -->
<form action="/comment/<%= snack.dataValues.id %>" method="POST">
    <div>
    <textarea name="text" id="text">
    Hey... say something!
    </textarea>
    </div>
    <button type="submit">Post Comment</button>
</form>

<!-- render comments here -->
<p>~Pull comment content and render here~</p>
<p><strong>Author:</strong> ~pull user name and render here~</p>
<<<<<<< HEAD
=======
=======

<p><a href="/profile">Profile</a></p>
<!-- <h1 style="color: blue">The Great Snack Details</h1> -->
<%=snack.name%>
<p><img height="200px;" width="200px"  src="<%=snack.imgUrl%>"></p>
<%=snack.description%>
>>>>>>> 17c26bf35f4c51b2ef889ac23a1d05efeb0f4701
>>>>>>> submain
